<!--
<p><code>Ver como dibujar el componente correspondiente</code></p>
<ng-container [ngSwitch]="campo.tipoCampo.id">
  <ng-template [ngSwitchCase]="TipoCampoEnum.Label">
    <pjud-label [label]="campo"></pjud-label>
  </ng-template>
  <ng-template [ngSwitchCase]="TipoCampoEnum.RadioButtonGroup">
    <pjud-radio-button-group [radioButtonGroup]="campo"></pjud-radio-button-group>
  </ng-template>
  <ng-template [ngSwitchCase]="TipoCampoEnum.CheckboxGroup">
  	<pjud-check-box-group [checkBoxGroup]="campo"></pjud-check-box-group>
	</ng-template>
  <ng-template [ngSwitchCase]="TipoCampoEnum.Combobox">
    <pjud-combobox [combobox]="campo"></pjud-combobox>
	</ng-template>
  <ng-template [ngSwitchCase]="TipoCampoEnum.Switch">
    <pjud-switch [switch]="campo"></pjud-switch>
  </ng-template>
</ng-container>
-->
<ng-template #nido></ng-template>
<hr/>